/****** Global Styles ******/
body{
    color:#5E5D5E;
    font-family:'Source Sans Pro',sans-serif;
}
.content-wrapper{
    width:1200px;
    margin:0 auto;
    overflow:auto;
}

.homepage-hero{
    background:url('../img/full-background.png')#F9EFEF no-repeat;
    background-size:cover ;
    background-position: center;
    height:700px;
}


/****** Header Styles ******/

header h1{
    float:left;
    width:300px;
    color:#7B7E54;
    font-size:30px;
    font-family:'lora',serif ;
    padding:65px 0 65px 25px;
}

header nav{
    width:800px;
    float:right;
    text-align: right;
    padding:75px 25px 75px 0;
}
header nav ul li{
    display: inline-block;
}
header nav ul li a{
    text-transform: uppercase;
    color:#727172;
    font-size: 18px;
    padding-left: 50px;
}
header h2{
    width:1000px;
    clear:both;
    font-family:'lora', serif ;
    font-size:72px ;
    line-height:80px ;
    color:#817F80;
    padding:20px 0 20px 25px;
}


/****** About Styles ******/
#about .content-wrapper{
    padding:80px 0;
    

}
#about h2{
    font-family: 'lora', serif;
    font-size:36px ;
    padding-left: 50px;
}
#about p{
    float:left;
    width:500px;
    padding-left: 50px;
    padding-right: 50px;
    line-height: 40px;

}






/****** Skill Styles ******/
#skills{
    background: #F5F5F5;
    text-align: center;
}
#skills .content-wrapper{
    padding:115px 0 ;

}
#skills .skill-list{
    float:left;
    width:300px;
    padding:0 50px;
}

#skills h2{
    font-size: 36px;
    font-family: 'lora', serif;
    padding-bottom: 40px;
}
#skills h3{
    font-size:24px ;
    line-height:36px ;
    margin: 30px 0 20px 0 ;
}
#skills p{
    font-size: 20px;
    line-height: 40px;
    text-align:left;

}





/****** Contact Styles ******/
#contact{
    background-color: #F9E9E9;
}
#contact .content-wrapper{
    padding: 110px 0;
}
#contact .contact-image{
    float: left;
    width: 600px;
}
#contact #contact-img{
    width: 550px;
    height: 350px;
    border:10px solid #ffffff;
    box-sizing: border-box;
    margin: 0 50px;

}
#contact #contact-info{
    float: left;
    width: 500px;
    padding-left: 100px;
    box-sizing: border-box;
    
}
#contact h2{
    font-family:'lora',serif ;
    font-size:36px ;
    font-weight: 600;
    margin: 30px 0;
}
#contact h3{
    font-size:24px ;
    font: weight 400px; ;
    line-height:36px ;
}
#contact #contact-info #coffee-header{
    margin-bottom: 5px;
}
#contact #contact-info #socialmedia-header{
    margin-bottom: 5px;
    margin-top: 20px;
}
#contact #contact-info #envelope{
    margin-right: 10px;
}
#contact  ul{
    list-style: none;
    padding-left: 0;
}
#contact  ul li{
    display: inline-block;
    
    
}
#contact ul img{
    padding-right: 40px;
}

/********Projects Page Header Styles***********/
.projects{
    background-color: #F5F5F5 ;
    text-align: center;
}

/********Projects Page Projects Styles***********/
#projects{
    background: #F5F5F5;
    text-align: center;
}
#projects .content-wrapper{
    padding:115px 0 ;

}
#projects .projects-list{
    float:left;
    width:300px;
    padding:0 50px;
}

#projects h2{
    font-size: 36px;
    font-family: 'lora', serif;
    padding-bottom: 40px;
}
#projects h3{
    font-size:24px ;
    line-height:36px ;
    margin: 30px 0 20px 0 ;
}
#projects p{
    font-size: 20px;
    line-height: 40px;
    text-align:left;

}
#projects img{
    width: 300px;
    height: 100px;
    padding-bottom: 30px;
}
